<?xml version="1.0"?>
<!--
/**
 * Copyright © 2011-2018 Karliuka Vitalii(karliuka.vitalii@gmail.com)
 * 
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- provider resource factory config -->
    <type name="Faonni\SocialLogin\Model\ResourceModel\ProviderConfig">
        <arguments>
            <argument name="config" xsi:type="array">
                <item name="google" xsi:type="array">
                    <item name="class" xsi:type="string">Faonni\SocialLogin\Model\ResourceModel\Provider\Google</item>
                </item>
                <item name="facebook" xsi:type="array">
                    <item name="class" xsi:type="string">Faonni\SocialLogin\Model\ResourceModel\Provider\Facebook</item>
                </item>
                <item name="linkedin" xsi:type="array">
                    <item name="class" xsi:type="string">Faonni\SocialLogin\Model\ResourceModel\Provider\Linkedin</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Block\Cart\Sidebar">
        <plugin name="faonni_sociallogin" type="Faonni\SocialLogin\Plugin\Checkout\Block\Cart\SidebarPlugin" sortOrder="51"/>
    </type>
</config>
