<?xml version="1.0"?>
<!--
/**
 * Copyright © 2011-2018 Karliuka Vitalii(karliuka.vitalii@gmail.com)
 * 
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- config customer account plugin -->
    <type name="Magento\Customer\Controller\Plugin\Account">
        <arguments>
            <argument name="allowedActions" xsi:type="array">
                <item name="initprovider" xsi:type="string">initprovider</item>
                <item name="oauth" xsi:type="string">oauth</item>
                <item name="popupclose" xsi:type="string">popupclose</item>
            </argument>
        </arguments>
    </type>
    <!-- config checkout -->
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="faonni_sociallogin" xsi:type="object">Faonni\SocialLogin\Model\Checkout\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
